In [1]:
import pandas as pd
import numpy as np
from datetime import datetime
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
%cd ..

c:\Users\celin\git\Quennect

In [3]:
df = pd.read_csv('q_total.csv')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6740 entries, 0 to 6739
Data columns (total 88 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   Unnamed: 0.1                      6740 non-null   int64
 1   Unnamed: 0                        6740 non-null   int64
 2   q_date                            6740 non-null   object
 3   q_year                            6740 non-null   float64
 4   prop_year                         6740 non-null   float64
 5   state                             6740 non-null   object
 6   entity                            6740 non-null   object
 7   utility                           6740 non-null   object
 8   county_1                          6740 non-null   object
 9   poi_name                          6740 non-null   object
 10  region_CAISO                      6740 non-null   int64
 11  region_ERCOT                      6740 non-null   int64
 12  region_ISO-NE                     6740 non-null   int64
 13  region_MISO                       6740 non-null   int64
 14  region_NYISO                      6740 non-null   int64
 15  region_PJM                        6740 non-null   int64
 16  region_SPP                        6740 non-null   int64
 17  region_Southeast (non-ISO)        6740 non-null   int64
 18  region_West (non-ISO)             6740 non-null   int64
 19  total_mw                          6740 non-null   float64
 20  type1_Battery                     6740 non-null   int64
 21  type1_Biofuel                     6740 non-null   int64
 22  type1_Biogas                      6740 non-null   int64
 23  type1_Biomass                     6740 non-null   int64
 24  type1_Coal                        6740 non-null   int64
 25  type1_Diesel                      6740 non-null   int64
 26  type1_Flywheel                    6740 non-null   int64
 27  type1_Gas                         6740 non-null   int64
 28  type1_Geothermal                  6740 non-null   int64
 29  type1_Gravity Rail                6740 non-null   int64
 30  type1_Hybrid                      6740 non-null   int64
 31  type1_Hydro                       6740 non-null   int64
 32  type1_Landfill                    6740 non-null   int64
 33  type1_Methane                     6740 non-null   int64
 34  type1_Nuclear                     6740 non-null   int64
 35  type1_Offshore Wind               6740 non-null   int64
 36  type1_Oil                         6740 non-null   int64
 37  type1_Pumped Storage              6740 non-null   int64
 38  type1_Solar                       6740 non-null   int64
 39  type1_Steam                       6740 non-null   int64
 40  type1_Waste Heat                  6740 non-null   int64
 41  type1_Wind                        6740 non-null   int64
 42  type1_Wood                        6740 non-null   int64
 43  ia_status_Facility Study          6740 non-null   int64
 44  ia_status_Feasibility Study       6740 non-null   int64
 45  ia_status_IA Executed             6740 non-null   int64
 46  ia_status_Operational             6740 non-null   int64
 47  ia_status_System Impact Study     6740 non-null   int64
 48  ia_status_Withdrawn               6740 non-null   int64
 49  tokens                            6740 non-null   object
 50  OID_                              6740 non-null   int64
 51  Join_Count                        6740 non-null   int64
 52  TARGET_FID                        6740 non-null   int64
 53  Join_Count_1                      6740 non-null   int64
 54  TARGET_FID_1                      6740 non-null   int64
 55  OBJECTID                          6740 non-null   int64
 56  Join_Count_12                     6740 non-null   int64
 57  TARGET_FID_12                     6740 non-null   int64
 58  Join_Count_12_13                  6740 non-null   int64
 59  TARGET_FID_12_13                  6740 non-null   int64
 60  F_id                              6740 non-null   object
 61  name                              6740 non-null   object
 62  operator                          6740 non-null   object
 63  operator_wikidata                 6740 non-null   object
 64  power                             6740 non-null   object
 65  substation                        6740 non-null   object
 66  type                              6740 non-null   object
 67  ORIG_FID                          6740 non-null   int64
 68  Lat                               6740 non-null   float64
 69  Long                              6740 non-null   float64
 70  STATE_ABBR                        6740 non-null   object
 71  STATE_NAME                        6740 non-null   object
 72  POP_SQMI                          6740 non-null   float64
 73  COUNTYNAME                        6739 non-null   object
 74  LEGAL_NAME                        6739 non-null   object
 75  CLASSCODE                         6739 non-null   object
 76  LEGAL_DESC                        6739 non-null   object
 77  CLASSCODE_DESC                    6739 non-null   object
 78  GEOID                             5615 non-null   object
 79  votes_dem                         5612 non-null   float64
 80  votes_rep                         5612 non-null   float64
 81  votes_total                       5612 non-null   float64
 82  votes_per_sqkm                    5612 non-null   float64
 83  pct_dem_lead                      5512 non-null   float64
 84  solar_ann_ghi_rn                  6706 non-null   float64
 85  SymbolID                          0 non-null      float64
 86  avg_wind_speed_meters_per_second  6740 non-null   float64
 87  tokens.1                          6740 non-null   object
dtypes: float64(14), int64(51), object(23)
memory usage: 4.5+ MB

In [12]:
dup = df.duplicated(subset=['Lat', 'Long'], keep=False)
dup= df[mismatched == True]
dup.head()

,Unnamed: 0.1,Unnamed: 0,q_date,q_year,prop_year,state,entity,utility,county_1,poi_name,...,GEOID,votes_dem,votes_rep,votes_total,votes_per_sqkm,pct_dem_lead,solar_ann_ghi_rn,SymbolID,avg_wind_speed_meters_per_second,tokens.1
0,0,0,1/7/2022,2022.0,2024.0,MO,AEC,AEC,new madrid,New Madrid - Essex 345kV,...,NaN,NaN,NaN,NaN,NaN,NaN,4.3,NaN,3.946934,new
1,1,3,11/19/2018,2018.0,2021.0,MO,AEC,AEC,pemiscot,New Madrid to Dell 500 kV,...,NaN,NaN,NaN,NaN,NaN,NaN,4.3,NaN,3.946934,new
2,2,6,10/12/2017,2017.0,2020.0,MO,AEC,AEC,new madrid,New Madrid Substation,...,NaN,NaN,NaN,NaN,NaN,NaN,4.3,NaN,3.946934,new
3,3,9,12/6/2018,2018.0,2021.0,MO,AEC,AEC,new madrid,New Madrid to Essex 345 kV,...,NaN,NaN,NaN,NaN,NaN,NaN,4.3,NaN,3.946934,new
5,5,20,3/6/2019,2019.0,2019.0,MO,AEC,AEC,dunklin,St. Francis 161 kV,...,NaN,NaN,NaN,NaN,NaN,NaN,4.2,NaN,3.599330,st.

In [14]:
cols = list(df.columns)